body {
  padding: 20px;
}

pre {
  background-color: #eee;
  border-radius: 5px;
  margin: 0;
  padding: 10px;
  padding-left: 30px;
  overflow-y: auto;
}

.ov {
  display: inline-flex;
}

.indicator {
  cursor: pointer;
}

.ov.array.wrapper,
.ov.object.wrapper {
  display: block;
}

.ov.array.wrapper > *,
.ov.object.wrapper > * {
  margin-left: 20px;
}

.ov.array.wrapper > .indicator,
.ov.object.wrapper > .indicator {
  margin-left: -15px;
}

.ov.array.wrapper > .indicator > .key,
.ov.object.wrapper > .indicator > .key {
  margin-left: 5px;
}

.ov.array,
.ov.object {
  display: block;
}

.ov.array.indicator,
.ov.object.indicator,
.ov.array.key,
.ov.object.key {
  display: inline;
}
